body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    position: relative;
    /* overflow-x: hidden; */
}



header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

#hamburgar {
    width: 25px;
    padding: 8px 8px 0px 9px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
}

#logo {
    width: 80px;
    margin-bottom: -8px;
    cursor: pointer;
}


.search-bar {
    display: flex;
    padding-top: 20px;
}

.search-bar form {
    display: flex;
    border: 2px solid lightgrey;
    border-radius: 20px;
    height: 30px;
    padding: 2px 8px;
}

.search-bar input {
    width: 400px;
    border: none;
}

.search-bar button {
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: -2px;
    padding-left: 10px;
    margin: -2px -7px;
}

.search-bar img {
    width: 35px;
    padding: 0px 8px 8px 9px;
    cursor: pointer;
}

#mic {
    padding-top: 5px;
    margin-left: 10px;
    width: 15px;
    height: 18px;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
}
.icons{
    display: inline-flex;
}
.menu,
.noti {
    width: 25px;
    margin: 25px 0px 0px 20px;
    padding: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    margin-left: -50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: none;
}

/* .right-nav a:hover {
    color: #ff0000;
    border-bottom: 2px solid #ff0000;
} */

.dropdown-content a:hover {
    background-color: #ff0000;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}



main {
    display: flex;
    background-color: white;
}


.side-bar {
    width: 18vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    left: 0%;
    top: 76px;
    z-index: 50;
    background-color: white;
}

.side-bar-nav {
    width: 100%;
    display: block;
}

.nav-link {
    display: flex;
    padding: 12px 25px;
    text-decoration: none;
}

.nav-link span {
    margin-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

#explore-tab {
    padding: 12px 25px;
    font-weight: bolder;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

.nav-link:hover {
    background: lightgrey;
    border-radius: 15px;
}

.active:hover,
.active,
#Sidebar-home {
    background: #ff0000;
    color: white;
    border-radius: 15px;
    
}

hr {
    height: 2px;
    background-color: lightgray;
    border: none;
}



.main-content {
    width: 80%;
    padding-left: 20%;
    border-top: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    float: right;
}

.top-nav-items {
    position: fixed;
    top: 76px;
    z-index: 50;
    width: 80%;
    background-color: white;
    overflow-x: scroll;
    padding: 10px 0;
    box-sizing: inherit;
    margin-left: -25px;
}

.top-nav-items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.top-nav-items li {
    margin: 0;
}

.top-nav-items a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    transition: color 0.3s;
}

.top-nav-items button {
    width: max-content;
    align-items: center;
    height: 35px;
    border-radius: 15px;
    border: transparent;
    cursor: pointer;
}



.video-container {
    justify-content: space-between;
    width: 330px;
    padding-top: 160px;
    position: relative;
}

video {
    width: 300px;
    height: 170px;
    margin-bottom: 30px;
    border-radius: 20px;
    object-fit: cover;
}

.details {
    display: flex;
    flex-wrap: wrap;
}

.title {
    margin-bottom: -10%;
}

.title h3,
.title a {
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 18px;
    margin-bottom: 6px;
    font-family: 'Roboto', sans-serif;
    display: block;
    text-decoration: none;
}

footer {
    overflow-y: scroll;
    margin-bottom: 15vh;
    width: 18vw;
}

footer a,
.footer-link,
footer p {
    color: rgb(3, 3, 3);
    font-size: 13px;
    margin-bottom: 6px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}

footer a:hover {
    background-color: #ff0000;
    color: white;
}







@media (max-width: 817px) {

    /* body{
        overflow-x: hidden;
    } */

    .noti,
    #hamburgar {
        display: inline-flex;
    }

    .dropdown-content a {
        color: black;
        /* padding: 10px 16px; */
        text-decoration: none;
        font-size: smaller;
        display: block;
    }

    .menu,
    #explore-tab,
    #mic,
    .nav-link span,
    .side-bar span {
        display: none;
    }


    video {
        width: 500px;
        height: 170px;
        margin-bottom: 40px;
        display: flex;
    }

    footer {
        display: inherit;
    }


}

@media (max-width: 674px) {
    /* body {
        overflow-x: hidden;
    } */

    #hamburgar {
        padding-bottom: 10px;
        padding-left: 25px;
    }

    #logo {
        display: inline-flex;
        width: 60%;
        height: 100px;
    }

    .search-bar,
    #explore-tab,
    .menu {
        display: none;
    }
   .noti{
    display: inline-flex;
    margin-right: 220px;
    padding-top: 13px;
    box-sizing:  inherit;
   }

    .header {
        width: 133%;
    }

    video {
        width: 250px;
        height: 130px;
        display: inline-flex;
        margin-left: 8px;
    }

}